body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

.container {
    display: flex;
    align-items: center;
    width: 1440px;
    margin: 0 auto;
    max-width: 100%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

header {
    background-color: #1f2937;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
}

